include badger_utils/registry/dependency-artifacts/aragon/Agent.json
include badger_utils/registry/dependency-artifacts/aragon/CompanyTemplate.json
include badger_utils/registry/dependency-artifacts/aragon/Finance.json
include badger_utils/registry/dependency-artifacts/aragon/MiniMeToken.json
include badger_utils/registry/dependency-artifacts/aragon/Vault.json
include badger_utils/registry/dependency-artifacts/aragon/TokenManager.json
include badger_utils/registry/dependency-artifacts/aragon/Voting.json
include badger_utils/registry/dependency-artifacts/digg/Mock.json
include badger_utils/registry/dependency-artifacts/gnosis-safe/Executor.json
include badger_utils/registry/dependency-artifacts/gnosis-safe/GnosisSafe.json
include badger_utils/registry/dependency-artifacts/gnosis-safe/GnosisSafeProxy.json
include badger_utils/registry/dependency-artifacts/gnosis-safe/GnosisSafeProxyFactory.json
include badger_utils/registry/dependency-artifacts/gnosis-safe/MasterCopy.json
include badger_utils/registry/dependency-artifacts/gnosis-safe/MultiSend.json
include badger_utils/registry/dependency-artifacts/gnosis-safe/ProxyFactory.json
include badger_utils/registry/dependency-artifacts/multicall/Multicall.json
include badger_utils/registry/dependency-artifacts/open-zeppelin/TokenTimelock.json
include badger_utils/registry/dependency-artifacts/open-zeppelin-upgrades/AdminUpgradeabilityProxy.json
include badger_utils/registry/dependency-artifacts/open-zeppelin-upgrades/ProxyAdmin.json
include badger_utils/registry/dependency-artifacts/uniswap/ERC20.json
include badger_utils/registry/dependency-artifacts/uniswap/IERC20.json
include badger_utils/registry/dependency-artifacts/uniswap/IERC20.json
include badger_utils/registry/dependency-artifacts/uniswap/UniswapV2Factory.json
include badger_utils/registry/dependency-artifacts/uniswap/UniswapV2Factory.json
include badger_utils/registry/dependency-artifacts/uniswap/UniswapV2Pair.json
include badger_utils/registry/dependency-artifacts/uniswap/UniswapV2Router02.json
include badger_utils/registry/dependency-artifacts/wbtc/wbtc.json
include Makefile
